[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.dd-transition[draggable] {
    -webkit-transition: top 0.25s ease-out, left 0.25s ease-out;
    -moz-transition: top 0.25s ease-out, left 0.25s ease-out;
    -ms-transition: top 0.25s ease-out, left 0.25s ease-out;
    -o-transition: top 0.25s ease-out, left 0.25s ease-out;
    transition: top 0.25s ease-out, left 0.25s ease-out;
}
.dd-high-z {
    z-index: 999 !important;
}
.dd-opacity {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}